annotated-types
anyio
cached-property
certifi
colorama
distro
dotenv
exceptiongroup
h11
httpcore
httpx
idna
importlib-metadata
openai
pydantic
pydantic_core
python-dotenv
sniffio
tenacity
tqdm
typing_extensions
zipp
torch
transformers
